<%= form_with(model: project, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, id: :user_id, value: current_user.id %>
  <%= form.text_field :title, id: :project_title, class: 'form-control', placeholder: 'Название проекта' %>
  </br>
  <%= form.text_area :description, id: :project_description, class: 'form-control', placeholder: 'Краткое описание проекта' %>
  <div class="checkbox">
    <label>
      <%= form.check_box :is_finished, id: :project_is_finished %> Проект завершен?
    </label>
  </div>
  </br>
  <div class="actions">
    <%= form.submit 'Сохранить', class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
