<div class="page-header">
  <div class="container-fluid">
    <div class="btn-group pull-right">
      <%= link_to 'Новый', new_project_path, class: "btn btn-lg btn-primary" %>
    </div>
    <h1>Проекты</h1>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Название</th>
      <th>Описание</th>
      <th>Завершен?</th>
      <th>Затраченная сумма</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.projects.each do |project| %>
      <tr>
        <td title="This is Title"><%= link_to project.title, project %></td>
        <td><%= project.description %></td>
        <% if project.is_finished==true %>
          <td>Завершен</td>
        <% else %>
          <td>Не завершен</td>
        <% end %>
        <td><%= project.account_items.sum(:amount) %></td>
        <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
