<div class="page-header">
  <div class="container-fluid">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Действия
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'Настройки', edit_project_path(@project) %></li>
        <li><%= link_to 'Добавить новую запись', new_account_path(:project_id=>@project.id), {:remote => true, 'data-toggle'=>"modal", 'data-target'=>'#myModal'}  %></li>
      </ul>
    </div>
    <h1>
      <%= @project.title %>
      <small>
        <%= @project.description %>, общая сумма: <span class="label label-success"><%= @sum %></span>
      </small>
    </h1>
    <% if @project.is_finished == true %>
      <span class="label label-success">Проект завершен</span>
    <% else %>
      <span class="label label-warning">Проект не завершен</span>
    <% end %>
  </div>
</div>

<table class="table table-hover">
  <tr>
    <th>Контрагент</th>
    <th>Услуга</th>
    <th>Сумма</th>
    <th>Дата оплаты</th>
  </tr>
  <% for item in @account_items %>
  <tr>
    <td><%= item.contractor.title %></td>
    <td><%= item.service %></td>
    <td><%= item.amount %></td>
    <td><%= item.date %></td>
  </tr>
  <% end %>
</table>
<div id="myModal" class="modal fade"></div>
