<%= form_with(model: contractor, local: true) do |form| %>
  <% if contractor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contractor.errors.count, "error") %> prohibited this contractor from being saved:</h2>

      <ul>
      <% contractor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :user_id, id: :user_id, value: current_user.id %>
  <%= form.text_field :title, id: :contractor_title, class: 'form-control', placeholder: 'Наименование контрагента' %>
  </br>
  <%= form.text_field :address, id: :contractor_address, class: 'form-control', placeholder: 'Адрес' %>
  </br>
  <div class="actions">
    <%= form.submit 'Сохранить', class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
