<!DOCTYPE html>
<html>
  <head>
    <title>Expenses</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="row">
      <div class="content">
      <% if user_signed_in? %>
        <%= render 'layouts/aside' %>
        <div class="col-md-10 col-md-offset-2 main">
          <div class="container-fluid">
            <%= yield %>
          </div>
        </div>
      <% else %>
        <div class="col-md-10 col-md-offset-1 main">
          <%= yield %>
        </div>
      <% end %>
    </div>
    </div>
  </body>
</html>
